<div class="container">
  <div>

    <h1>List of Restaurant</h1>
      <ul> <% @restaurants.each do |restaurant| %>
        <li>
          <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
       </li>
      <% end %></ul>
  </div>

    <div>
      <%= link_to "Add new Restaurant", new_restaurant_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>
